html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: cornflowerblue;
    color: white;
    margin-bottom: 60px;
    padding-top: 70px;
}

.footer {
  background-color: white;
  bottom: 0;
  color: cornflowerblue;
  /* Set the fixed height of the footer here */
  height: 60px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.jumbotron {
    background-color: white;
    color: cornflowerblue;
    text-align: center;
}

.form-label {
    font-family: Arial;
    font-size: large;
    font-weight: bold;
}

#button {
    margin: 10px;
    text-align: center;
}

.output {
    background-color: darkslategray;
    text-align: center;
}